<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="#" alt="Logo" style="width:40px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/user/list">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/user/list">Username</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/product/list">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/category/list">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/request/list">Request</a>
            </li>
        </ul>
    </div>
</nav>
<form class="form-inline my-2 my-lg-0" action="./search" method="GET">
    <input class="form-control form-control-sm ml-3 w-75" type="search" name="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <svg width="15px" height="15px">
            <path
                d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 ">
            </path>
        </svg>
    </button>
</form>