<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/layout')-%>

<body>
    <%- include('../navbar')-%>
    
    <form action="" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" name="txtName" placeholder="Name" value="<%= cat.name%>"/> <br/>
        <input type="number" name="numRoot" placeholder="Root" value="<%= cat.root%>"/> <br/>
        <input type="submit" name="btnThem" value="Sửa"/>
    </form>
</body>
</html>