<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/layout')-%>

<body>
    <%- include('../navbar')-%>
    
    <form action="" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" name="txtName" placeholder="Name"/> <br/>
        <input type="number" name="numRoot" placeholder="Root"/> <br/>
        <input type="submit" name="btnThem" value="Thêm"/>
    </form>
</body>
</html>