<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/layout')-%>

<body>
    <%- include('../navbar')-%>
    <p style="text-align:center">
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Root</th>
                    <th>Chỉnh sửa</th>
                </tr>
            </thead>
            <tbody>
                <% danhsach.forEach(function(cat){%>
                <tr>
                    <td scope="row"><%= cat.id %></td>
                    <td><%= cat.name %></td>
                    <td><%= cat.root %></td>
                    <td>
                        <a href="./edit/<%= cat.id %>">✎</a> - 
                        <a href="./delete/<%= cat.id %>">Xóa</a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </p>
    <button><a href="./insert">+</a></button>
</body>
</html>