<!DOCTYPE html>
<html lang="en">

<%- include('../layout/layout')-%>

<body>
    <div class="container">
        <form method="POST" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" name="email" type="email" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password"/>
            </div>
            <button class="btn btn-primary">
                Login
            </button>
        </form>
    </div>
</body>
</html>