<!DOCTYPE html>
<html lang="en">

<%- include('./layout/layout')-%>

<body>
    <%- include('./layout/navbar')-%>
    <div class="container">
        <div class="row">
          <div class="col-sm-3 shadow">
            <%- include('./layout/sidebar')-%>
          </div>
          <div class="col-sm-9 shadow">
            <%- include('./layout/mainbarhome')-%>
          </div>
        </div>
      </div>
</body>

</html>