<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/layout')-%>

<body>
    <%- include('../navbar')-%>
    <p style="text-align:center">
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>UserID</th>
                    <th>Date</th>
                    <th>Approved</th>
                </tr>
            </thead>
            <tbody>
                <% danhsach.forEach(function(request){%>
                <tr>
                    <td scope="row"><%= request.userId %></td>
                    <td><%= request.date %></td>
                    <td><%= request.approved %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </p>
</body>
</html>