<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/layout')-%>

<body>
    <%- include('../navbar')-%>
    
    <table class="table" width="1200" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Chỉnh sửa</th>
                <th>Nâng cấp</th>
            </tr>
        </thead>
        <tbody>
            <% danhsach.rows.forEach(function(user){%>
            <tr>
                <td scope="row"><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.password %></td>
                <td>
                    <a href="./sua/<%= user.id %>">✎🖍</a> - 
                    <a href="./xoa/<%= user.id %>">Xóa</a>
                </td>
                <td>
                    <a href="./upgrade/<%= user.id %>">↑</a> - 
                    <a href="./downgrade/<%= user.id %>">↓</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <button><a href="./them">+</a></button>
</body>
</html>