<div class="container">
    <div class="row shadow">
        <div class="col-md-4">
            <img src="<%= product.image %>" class="card-img-top" alt="<%= product.name %>">
        </div>
        <div class="col-md-8">
            <h3 class="my-4">Tên sản phẩm:
                <small id="year"><%= product.name %></small>
            </h3>
            <h5 class="my-4">Giá hiện tại:
                <small><%= product.startingPrice %></small>
            </h5>
            <h5 class="my-4">Giá mua ngay: <br />
                <small><%= product.price %></small>
            </h5>
            <h5 class="my-4">Người bán:
                <small><%= product.sellerId %></small>
            </h5>
            <h5 class="my-4">Người đấu giá cao nhất:
                <small><%#= product.name %></small>
            </h5>
            <h5 class="my-4">Thời gian đăng:
                <small><%= product.submittedDate %></small>
            </h5>
            <h5 class="my-4">Thời gian kết thúc:
                <small><%= product.closedDate %></small>
            </h5>
            <h5 class="my-4">Chi tiết sản phẩm:
                <small><%= product.description %></small>
            </h5>
        </div>
    </div>
    <div class="row shadow">
        Ảnh phụ để ở đây
    </div>
    <div class="row shadow">
        Sản phẩm liên quan để ở đây
    </div>
</div>