<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/layout')-%>

<body>
    <%- include('../navbar')-%>

    <form action="" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" name="txtUsername" placeholder="Username" value="<%= user.name%>"/> <br/>
        <input type="email" name="txtEmail" placeholder="Email" value="<%= user.email%>"/> <br/>
        <input type="password" name="txtPassword" placeholder="Password" value="<%= user.password%>"/> <br/>
        <input type="text" name="txtRole" placeholder="Role" value="<%= user.role%>"/> <br/>
        <input type="submit" name="btnThem" value="Sửa"/>
    </form>
</body>
</html>