<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/layout')-%>

<body>
    <%- include('../navbar')-%>

    <form action="" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" name="txtUsername" placeholder="Username"/> <br/>
        <input type="email" name="txtEmail" placeholder="Email"/> <br/>
        <input type="password" name="txtPassword" placeholder="Password"/> <br/>
        <input type="text" name="txtRole" placeholder="Role"/> <br/>
        <input type="submit" name="btnThem" value="Thêm"/>
    </form>
</body>
</html>