<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/layout')-%>

<body>
    <%- include('../navbar')-%>
    <p style="text-align:center">
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Address</th>
                    <th>Role</th>
                    <th>Birthdate</th>
                    <th>Chỉnh sửa</th>
                    <th>Nâng cấp</th>
                </tr>
            </thead>
            <tbody>
                <% danhsach.forEach(function(user){ %>
                    <tr>
                        <td scope="row"><%= user.id %></td>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.password %></td>
                        <td><%= user.address %></td>
                        <td><%= user.role %></td>
                        <td><%= user.birthdate %></td>
                        <td>
                            <a href="./edit/<%= user.id %>">✎</a> -
                            <a href="./delete/<%= user.id %>">Xóa</a>
                        </td>
                        <td>
                            <a href="./upgrade/<%= user.id %>">↑</a> -
                            <a href="./downgrade/<%= user.id %>">↓</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </p>
    <button><a href="./insert">+</a></button>
</body>
</html>