<!DOCTYPE html>
<html lang="en">

<%- include('../layout/layout')-%>

<body>
    <%- include('../layout/navbar')-%>
    <%- include('../layout/sidebar')-%>
    <table class="table" width="1200" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Họ tên</th>
                <th>Email</th>
                <th>
                    <a href="./them">Thêm</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <% danhsach.rows.forEach(function(sv){%>
            <tr>
                <td scope="row"><%= sv.id %></td>
                <td><%= sv.hoten %></td>
                <td><%= sv.email %></td>
                <td>
                    <a href="./sua/<%= sv.id %>">Sửa</a> - 
                    <a href="./xoa/<%= sv.id %>">Xóa</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</body>

</html>