<% products.forEach(function(product){ %>
    <div class="row shadow">
        <div class="col-md-3">
            <img src="<%= product.image %>" class="card-img-top" alt="<%= product.name %>">
        </div>
        <div class="col-md-9">
            <h3 class="my-4">
                <a href="product/<%= product.id %>">Tên sản phẩm: 
                    <small><%= product.name %></small>
                </a>
            </h3>
            <h5 class="my-4">Giá hiện tại: 
                <small><%= product.startingPrice %></small>
            </h5>
            <h5 class="my-4">Bidder đặt cao nhất: 
                <small><%= product.bidderId %></small>
            </h5>
            <h5 class="my-4">Giá mua ngay: 
                <small><%= product.price %></small>
            </h5>
            <h5 class="my-4">Ngày đăng sản phẩm: 
                <small><%= product.submittedDate %></small>
            </h5>
            <h5 class="my-4">Thời gian còn lại: 
                <small><%= product.closedDate %></small>
            </h5>
            <h5 class="my-4">Số lượt ra giá: 
                <small><%= product.count %></small>
            </h5>
        </div>
    </div>
<% }); %>