<h2 class="my-4">Top sản phẩm gần hết hạn</h5class="my-4"><br/>
<% topGoToEnd.forEach(function(product){ %>
    <div class="row shadow">
        <div class="col-md-3">
            <img src="<%= product.image %>" class="card-img-top" alt="<%= product.name %>">
        </div>
        <div class="col-md-9">
            <h3 class="my-4">
                <a href="product/<%= product.id %>">Tên sản phẩm: 
                    <small><%= product.name %></small>
                </a>
            </h3>
            <h5 class="my-4">Giá hiện tại: 
                <small><%= product.startingPrice %></small>
            </h5>
            <h5 class="my-4">Bidder đặt cao nhất: 
                <small><%= product.bidderId %></small>
            </h5>
            <h5 class="my-4">Giá mua ngay: 
                <small><%= product.price %></small>
            </h5>
            <h5 class="my-4">Ngày đăng sản phẩm: 
                <small><%= product.submittedDate %></small>
            </h5>
            <h5 class="my-4">Thời gian còn lại: <p id="time"><%= product.closedDate %></p>
                <small id="time"><%= product.closedDate %></small>
            </h5>
            <h5 class="my-4">Số lượt ra giá: 
                <small><%= product.count %></small>
            </h5>
        </div>
    </div>
<% }); %>
<br/>
<h2 class="my-4">Top sản phẩm có giá cao nhất</h2><br/>
<% topBestPrice.forEach(function(product){ %>
    <div class="row shadow">
        <div class="col-md-3">
            <img src="<%= product.image %>" class="card-img-top" alt="<%= product.name %>">
        </div>
        <div class="col-md-9">
            <h3 class="my-4">
                <a href="product/<%= product.id %>">Tên sản phẩm: 
                    <small><%= product.name %></small>
                </a>
            </h3>
            <h5 class="my-4">Giá hiện tại: 
                <small><%= product.startingPrice %></small>
            </h5>
            <h5 class="my-4">Bidder đặt cao nhất: 
                <small><%= product.bidderId %></small>
            </h5>
            <h5 class="my-4">Giá mua ngay: 
                <small><%= product.price %></small>
            </h5>
            <h5 class="my-4">Ngày đăng sản phẩm: 
                <small><%= product.submittedDate %></small>
            </h5>
            <h5 class="my-4">Thời gian còn lại: <p id="time"><%= product.closedDate %></p>
                <small id="time"><%= product.closedDate %></small>
            </h5>
            <h5 class="my-4">Số lượt ra giá: 
                <small><%= product.count %></small>
            </h5>
        </div>
    </div>
<% }); %>
<br/>
<h2 class="my-4">Top sản phẩm có nhiều người đấu giá nhất</h2><br/>
<% topDeal.forEach(function(product){ %>
    <div class="row shadow">
        <div class="col-md-3">
            <img src="<%= product.image %>" class="card-img-top" alt="<%= product.name %>">
        </div>
        <div class="col-md-9">
            <h3 class="my-4">
                <a href="product/<%= product.id %>">Tên sản phẩm: 
                    <small><%= product.name %></small>
                </a>
            </h3>
            <h5 class="my-4">Giá hiện tại: 
                <small><%= product.startingPrice %></small>
            </h5>
            <h5 class="my-4">Bidder đặt cao nhất: 
                <small><%= product.bidderId %></small>
            </h5>
            <h5 class="my-4">Giá mua ngay: 
                <small><%= product.price %></small>
            </h5>
            <h5 class="my-4">Ngày đăng sản phẩm: 
                <small><%= product.submittedDate %></small>
            </h5>
            <h5 class="my-4">Thời gian còn lại: <p id="time"><%= product.closedDate %></p>
                <small id="time"><%= product.closedDate %></small>
            </h5>
            <h5 class="my-4">Số lượt ra giá: 
                <small><%= product.count %></small>
            </h5>
        </div>
    </div>
<% }); %>