<% catroots.forEach(function(root){ %>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= root.name %>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <% cats.forEach(function(cat){ %>
                <% if (  cat.rootCatId === root.id ) { %>
                    <a class="dropdown-item" href="./cat/<%= cat.id %>">
                        <%= cat.name %>
                    </a>
                <% } %>
            <% }); %>
        </div>
    </div>
<% }); %>