<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/layout')-%>

<body>
    <%- include('../navbar')-%>

    <form action="" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" name="txtProductname" placeholder="Productname" value="<%= product.name%>"/> <br/>
        <input type="text" name="txtPrice" placeholder="Price" value="<%= product.price%>"/> <br/>
        <input type="text" name="txtSubmittedDate" placeholder="SubmittedDate" value="<%= product.submittedDate%>"/> <br/>
        <input type="text" name="txtClosedDate" placeholder="ClosedDate" value="<%= product.closedDate%>"/> <br/>
        <input type="text" name="txtDescription" placeholder="Description" value="<%= product.description%>"/> <br/>
        <input type="text" name="txtIncrement" placeholder="Increment" value="<%= product.increment%>"/> <br/>
        <input type="text" name="txtStartingPrice" placeholder="StartingPrice" value="<%= product.startingPrice%>"/> <br/>
        <input type="text" name="txtSellerId" placeholder="SellerId" value="<%= product.sellerId%>"/> <br/>
        <input type="text" name="txtCategoryId" placeholder="CategoryId" value="<%= product.categoryId%>"/> <br/>
        <input type="text" name="txtdocument_vectors" placeholder="document_vectors" value="<%= product.document_vectors%>"/> <br/>
        <input type="submit" name="btnThem" value="Sửa"/>
    </form>
</body>
</html>