<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/layout')-%>

<body>
    <%- include('../navbar')-%>

    <form action="" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" name="txtProductname" placeholder="Productname"/> <br/>
        <input type="text" name="txtPrice" placeholder="Price"/> <br/>
        <input type="text" name="txtSubmittedDate" placeholder="SubmittedDate"/> <br/>
        <input type="text" name="txtClosedDate" placeholder="ClosedDate"/> <br/>
        <input type="text" name="txtDescription" placeholder="Description"/> <br/>
        <input type="text" name="txtIncrement" placeholder="Increment"/> <br/>
        <input type="text" name="txtStartingPrice" placeholder="StartingPrice"/> <br/>
        <input type="text" name="txtSellerId" placeholder="SellerId"/> <br/>
        <input type="text" name="txtCategoryId" placeholder="CategoryId"/> <br/>
        <input type="text" name="txtdocument_vectors" placeholder="document_vectors"/> <br/>
        <input type="submit" name="btnThem" value="Thêm"/>
    </form>
</body>
</html>

