<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/layout')-%>

<body>
    <%- include('../navbar')-%>
    <p style="text-align:center">
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Submitted Date</th>
                    <th>Closed Date</th>
                    <th>Description</th>
                    <th>Increment</th>
                    <th>Starting Price</th>
                    <th>SellerId</th>
                    <th>CategoryId</th>
                    <th>document_vectors</th>
                    <th>Chỉnh sửa</th>
                </tr>
            </thead>
            <tbody>
                <% danhsach.forEach(function(product){ %>
                    <tr>
                        <td scope="row"><%= product.id %></td>
                        <td><%= product.name %></td>
                        <td><%= product.price %></td>
                        <td><%= product.submittedDate %></td>
                        <td><%= product.closedDate %></td>
                        <td><%= product.description %></td>
                        <td><%= product.increment %></td>
                        <td><%= product.startingPrice %></td>
                        <td><%= product.sellerId %></td>
                        <td><%= product.categoryId %></td>
                        <td><%= product.document_vectors %></td>
                        <td>
                            <a href="./edit/<%= product.id %>">✎</a> -
                            <a href="./delete/<%= product.id %>">Xóa</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </p>
    <button><a href="./insert">+</a></button>
</body>
</html>