<!DOCTYPE html>
<html lang="en">

<%- include('../layout/layout')-%>

<body>
    <%- include('../layout/navbar')-%>
    <%- include('../layout/sidebar')-%>
    <%- include('mainbar/view')-%>
</body>

</html>